{% load i18n %}
{% load url from future %}
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">

<head>
	<meta charset="utf-8">
	<title>{% block title %}HTML5Admin Base Template{% endblock %}</title>
	
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/html5admin/css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap-html5admin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery.dataTables.css" />
	<!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/html5admin/css/ie.css" media="screen"/>
	<script src="{{ STATIC_URL }}js/libs/html5.js"></script>
	<![endif]-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />

	<script src="{{ STATIC_URL }}js/libs/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}css/html5admin/js/jquery.tablesorter.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}css/html5admin/js/jquery.equalHeight.js" type="text/javascript"></script>

    <script type="text/javascript">
        // This set the shadow of sidebar
        $(function(){
            $('.column').equalHeight();
        });
    </script>

    {% block css %}{% endblock %}
    {% block js %}{% endblock %}

</head>


<body>

	<header id="header">
		<hgroup>
			<h1 class="site_title">
                <a href="{% url '{{ project_name }}.views.index' %}">{% trans 'Django HTML5Admin Template' %}</a>
            </h1>
			<h2 class="section_title">{% block section_title %}{% endblock %}</h2>
            {% if user.is_authenticated %}
                {% include 'auth/account_panel.html' %}
            {% endif %}
		</hgroup>
	</header> <!-- end of header bar -->
	
	<section id="secondary_bar">
		<div class="user">
            &nbsp;
		</div>
        {% block breadcrumbs %}{% endblock %}
	</section><!-- end of secondary bar -->

	<aside id="sidebar" class="column">
        {% include 'sidebar.html' %}
	</aside>
	
	<section id="main" class="column">
        {% block main %} {% endblock %}
	</section>


</body>

</html>
