{% extends 'html5admin-base.html' %}
{% load i18n %}
{% load url from future %}

{% block title %} {% trans 'HTML5Admin Demo Page' %} {% endblock %}
{% block section_title %} {% trans 'Demo' %} {% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap/bootstrap-datetimepicker.min.css" />
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs_container">
        <article class="breadcrumbs">
            <a href="{% url 'demo.views.index' %}">{% trans 'Django HTML5Admin' %}</a> 
            <div class="breadcrumb_divider"></div> 
            <a class="current">{% trans 'Demo' %}</a>
        </article>
    </div>
{% endblock %}

{% block main %} {% endblock %}

