/* Form style tweak for HTML5Admin template */

form.html5admin_form{
    fieldset {
        padding-bottom: 0;
    }

    div.form-actions {
        padding: 5px 10px 5px 0;
        margin-bottom: 0;

        .btn {
            float: right;
            margin-left: 4px;
        }
    }

}
